apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: sandervs24/auth
          env:
            - name: JWT_SECRET
              value: "HajusrakenduseJWTSecret123!"
            - name: PORT
              value: "5006"